body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: rgb(231, 165, 21);
}
section{
    display: flex;
}
h3{
    color: rgba(240, 115, 13, 0.856);
}
.flexible-continer{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
     width: 50%;
     padding-left: 5%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(145, 41, 206);
    padding: 10px 20px;
    color:orange;
    border-radius: 5px;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.drem-big{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.Experiecne-area{
    background-image: url(images/exp-bg.png);
}
.Experiecne-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}
#Full-Stack-developer{
    border-left: 7px solid tomato;
}
#Baby-Web-Developer{
    border-left: 7px solid yellowgreen;
}
footer p{
    text-align: center;
}
